*{
    margin: 0px;
    padding: 0px;
}
.parent{
    /* background: rgb(135,250,0);
    background: linear-gradient(151deg, rgba(135,250,0,1) 0%, rgba(91,235,6,1) 27%, rgba(247,245,21,1) 52%, rgba(34,246,0,1) 74%, rgba(4,217,0,1) 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: black;
}
.box{
    height: 400px;
    width: 400px;
    background-color: chartreuse;
    align-content: center;
    justify-content: center;
   
}
